<div class="visEditorSidebar__section">
  <div class="visEditorSidebar__sectionTitle">
    <div
      i18n-id="pivottableVisTypes.editors.pivottable.basicSettingsTitle"
      i18n-default-message="Basic Settings"
    ></div>
  </div>
  <!-- <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="editMode"
      i18n-id="kbnVislibVisTypes.editors.heatmap.showTooltipsLabel"
      i18n-default-message="Edit Mode"
    ></label>
    <div class="visEditorSidebar__formControl">
      <input
        class="kuiCheckBox"
        id="editMode"
        type="checkbox"
        ng-model="vis.params.editMode"
      />
    </div>
  </div> -->
  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="editMode"
      i18n-id="kbnVislibVisTypes.editors.heatmap.showTooltipsLabel"
      i18n-default-message="Edit Mode"
    ></label>
    <div class="visEditorSidebar__formControl">
      <input
        class="kuiCheckBox"
        id="editMode"
        type="checkbox"
        ng-model="editorState.params.editMode"
      />
    </div>
  </div>
</div>
